<!DOCTYPE html>
<html>
<head>
	<title>TelPhone Shop 管理中心 - 栏目列表</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
	<script type="text/javascript" src="/static/js/page.js"></script>
</head>
<body>
<h1>
	<span class="action-span"><a href="{:url('admin/cat/catadd')}"><b>添加栏目</b></a></span>
	<span class="action-span1"><a href="{:url('admin/index/index')}">TelPhone Shop 管理中心</a></span>
	<span class="action-span1">&nbsp;—&nbsp;栏目列表</span>
	<div style="clear:both"></div>
</h1>
<hr width="100%" style="border: 0.5px dashed gray;">
<table class="table table-hover">
	<thead>
		<tr>
			<th>栏目编号</th>
			<th>栏目名称</th>
			<th width="35%">栏目描述</th>
			<th>栏目状态</th>
			<th>&nbsp;&nbsp;栏目操作</th>
		</tr>
	</thead>
	<tbody>
	{foreach name="list" item="v"}
		<tr>
			<td>2018000{$v.cat_id}</td>
			<td>
				{for start="0" end="$v.num"}
					&nbsp;&nbsp;&nbsp;&nbsp;
				{/for}
				{$v.cat_name}
			</td>
			<td>{$v.intro}</td>
			<td><img src="/static/images/admin/yes.gif"></td>
			<td>
				<a href="{:url('admin/cat/catedit',['cat_id'=>$v.cat_id])}">编辑</a>
				&nbsp;&nbsp;
				<a href="{:url('admin/cat/catdel',['cat_id'=>$v.cat_id])}"
					onclick="if(confirm('确定删除吗?') == false) return false">删除</a>
			</td>
		</tr>
	{/foreach}
	</tbody>
</table>
<br>
<ul class="pagination">
	{$page}
	{if condition=" !isset($_GET['page']) "}
		<script type="text/javascript">
			document.getElementById('num_1').className = 'active';
		</script>
	{else /}
		<script type="text/javascript">
			document.getElementById('num_'+getQueryString('page')).className = 'active';
		</script>
	{/if}
</ul>
<div id="footer">
	<i>
		&copy; 2017-2018 XX网络科技有限公司&nbsp;&nbsp;版权所有
	</i>
</div>
</body>
</html>