<!DOCTYPE html>
<html>
<head>
	<title>TelPhone Shop 管理中心 - 商品列表</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/page.js"></script>
</head>
<body>
<h1>
	<span class="action-span"><a href="{:url('admin/good/goodadd')}"><b>添加商品</b></a></span>
	<span class="action-span1"><a href="{:url('admin/index/index')}">TelPhone Shop 管理中心</a></span>
	<span class="action-span1">&nbsp;—&nbsp;商品列表</span>
	<div style="clear:both"></div>
</h1>
<hr width="100%" style="border: 0.5px dashed gray;">
<table class="table table-hover">
	<thead>
		<th>
			编号<img src="/static/images/admin/sort_desc.gif"/>    
		</th>
	    <th>商品名称</th>
	    <th>栏目名称</th>
	    <th>价格</th>
	    <th>库存</th>
	    <th>上架</th>
        <th>&nbsp;&nbsp;操作</th>
	</thead>
	<tbody>
		{foreach name="goods" item="v" key='k'}
			<tr>
				<td>
					<button class="btn" data-toggle="modal" data-target="#MyModal_{$v.goods_id}" style="padding: 0;">
						<img src="/static/images/admin/icon_view.gif" title="更多信息">
					</button>
					<div class="modal fade" id="MyModal_{$v.goods_id}">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header" style="text-align: center;">{$v.goods_name}
					                <button class="close" data-dismiss="modal"><span>&times;</span></button>
					            </div>
					            <div class="modal-body">
					            	<p>商品名称：{$v.goods_name}</p>
					            	<p>所属栏目：{$v.cat_name}</p>
					            	<p>商品价格：{$v.shop_price}元</p>
					            	<p>市场价格：{$v.market_price}元</p>
					            	<p>库存：{$v.goods_number}个</p>
					            	<p>浏览量：{$v.click_count}</p>
					            	<p>实物图：<img src="{$v.thumb_img}"></p>
					            	<p>商品描述：</p>{$v.goods_brief}
					            </div>
					        </div>
					    </div>
					</div>
					2018{$v.goods_id}
				</td>
				<td width="30%">{$v.goods_name}</td>
				<td>{$v.cat_name}</td>
				<td>&yen; {$v.shop_price}</td>
				<td>{$v.goods_number}个</td>
				<td><img src="/static/images/admin/yes.gif"></td>
				<td>
					<a href="{:url('admin/good/goodedit',['goods_id'=>$v.goods_id])}">
						<img src="/static/images/admin/icon_edit.gif" title="编辑">
					</a>
					&nbsp;&nbsp;
					<a href="{:url('admin/good/gooddel',['goods_id'=>$v.goods_id])}" 
					onclick="if(confirm('确定删除吗?') == false) return false">
						<img src="/static/images/admin/icon_trash.gif" title="回收站">
					</a>         
				</td>
			</tr>
		{/foreach}
	</tbody>
</table>
<ul class="pagination">
	{$page}
	{if condition=" !isset($_GET['page']) "}
		<script type="text/javascript">
			document.getElementById('num_1').className = 'active';
		</script>
	{else /}
		<script type="text/javascript">
			document.getElementById('num_'+getQueryString('page')).className = 'active';
		</script>
	{/if}
</ul>
<div id="footer">
	<i>
		&copy; 2017-2018 XX网络科技有限公司&nbsp;&nbsp;版权所有
	</i>
</div>
</body>
</html>